@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&display=swap');

// fonts
$IBM:'IBM Plex Serif', serif;

// colors
$color1:#264E64;
$color2:#B776BC;
$color3:#749EC5;
$color4:#ffffff;
$color5:#000000;
$color6:#376485;
$color7:#d8d3d3;

// navbar logo h2
$size1: 1.3rem;

// navbar links
$fontSize:0.9rem;

// sizes
$size-1: 3rem;
$size-2:0.2rem;
$size-3:0.5rem;
$size-4:1.5rem;
$size-5:0.4rem;
$size-6:1rem;
$size-7:2rem;
$size-8:4rem;
$size-9:0.5rem;